@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dijit/themes/nihilo/nihilo.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/esri/css/esri.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dojo/resources/dojo.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dojox/layout/resources/FloatingPane.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dojox/layout/resources/ResizeHandle.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dgrid/css/dgrid.css");
@import url("http://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/esri/dijit/css/Popup.css");
@import url("bootstrap.min.css");
/* line 10, ../sass/theme.scss */
body {
  font-family: "helvetica neue", arial, helvetica, freesans, "libaration sans", "numbus sans l", sans-serif !important;
  color: #fff;
}

/* line 10, ../sass/theme.scss */
body {
  font-family: "helvetica neue", arial, helvetica, freesans, "libaration sans", "numbus sans l", sans-serif !important;
  color: #fff;
}

/* line 3, ../sass/items.scss */
.description {
  margin: 1em auto;
  padding: 1em;
  color: #7a99a5;
}

/* line 9, ../sass/items.scss */
.dijitComboBoxMenuPopup {
  font-size: 0.8em !important;
}

/* line 13, ../sass/items.scss */
.dijitMenuPopup {
  min-width: 150px;
}
/* line 15, ../sass/items.scss */
.dijitMenuPopup .dijitMenuItemLabel {
  width: 150px !important;
}

/** For BasemapMenu and Legend ToC **/
/* line 22, ../sass/items.scss */
.dijitMenuBar {
  padding: 5px !important;
  border: 0 none lightGrey !important;
  background-color: #88a8c1 !important;
}
/* line 26, ../sass/items.scss */
.dijitMenuBar .dijitMenuItemLabel {
  color: #fff !important;
}
/* line 29, ../sass/items.scss */
.dijitMenuBar .dijitMenuItemLabel:hover {
  background-color: #7f7f7f !important;
}
/* line 33, ../sass/items.scss */
.dijitMenuBar .dijitMenuItemSelected {
  background-color: #7f7f7f !important;
}

/* line 39, ../sass/items.scss */
td {
  line-height: 10px !important;
}

/* line 2, ../sass/infowindow.scss */
.attr-info {
  font-size: 0.8em;
  background: #e4e4e4;
}
/* line 5, ../sass/infowindow.scss */
.attr-info .fieldName {
  font-weight: bold;
}

/* line 1, ../sass/FlowTraceWidget.scss */
.dojoxFloatingPaneCanvas {
  height: 100%;
}

/* line 5, ../sass/FlowTraceWidget.scss */
.dojoxFloatingPaneTitle {
  color: #000;
}

/* line 9, ../sass/FlowTraceWidget.scss */
.flowTrace {
  color: #000;
  font-size: 0.9em;
  height: 100%;
}
/* line 13, ../sass/FlowTraceWidget.scss */
.flowTrace .flowTrace-form {
  margin: 1em;
}
/* line 15, ../sass/FlowTraceWidget.scss */
.flowTrace .flowTrace-form tr, .flowTrace .flowTrace-form td {
  margin: 1em;
}
/* line 18, ../sass/FlowTraceWidget.scss */
.flowTrace .flowTrace-form [widgetid="name"] {
  width: 75px;
}

/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/main.scss */
html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 20, ../sass/main.scss */
.navbar, .navbar .brand, .navbar .nav > li > a {
  color: #fff !important;
  text-shadow: 0 0 0 !important;
}

/* line 25, ../sass/main.scss */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}

/* line 30, ../sass/main.scss */
.brand {
  float: right !important;
}

/* line 32, ../sass/main.scss */
.navbar {
  margin-bottom: 0 !important;
  background: #88a8c1 !important;
  background-color: #88a8c1 !important;
}
/* line 36, ../sass/main.scss */
.navbar .navbar-inner {
  filter: 0 !important;
  background: #88a8c1 !important;
  background-color: #88a8c1 !important;
  padding: 0 !important;
}
/* line 41, ../sass/main.scss */
.navbar .navbar-inner div {
  margin-left: 1em !important;
}

/* line 45, ../sass/main.scss */
#container-main {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 52, ../sass/main.scss */
#container-main #map {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 61, ../sass/main.scss */
#container-main #sidebar-right {
  position: absolute;
  padding: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
}
/* line 68, ../sass/main.scss */
#container-main #sidebar-right .dijitContentPane {
  color: #333;
  background: #f2f6fa;
}

/* line 100, ../sass/main.scss */
.dgrid {
  font-size: 0.7em;
  max-height: 150px;
}
/* line 103, ../sass/main.scss */
.dgrid .dgrid-row {
  padding: 0.3em;
  cursor: pointer;
}
/* line 107, ../sass/main.scss */
.dgrid .dgrid-row:hover {
  background: #88a8c1;
  color: #fff;
}

/* line 117, ../sass/main.scss */
.dijitMenuTable {
  font-size: 0.7em !important;
}
